// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Form Button Styles
 *-------------------------------------- */
 
form button, form input[type='submit'], form input[type='button'], .btn {
  background-color: $lightgray;
  color: $black;
  display: inline-block;
  padding: 0.2rem 1.2rem;
  height: 2.6rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  @include font-size-line-height();
  @include border-radius();
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.1rem solid transparent;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  
  &:hover {
    background-color: tint($lightgray, 10%);
  }
  
  &.round {
    height: 5rem;
    width: 5rem;
    font-weight: 400;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0;
  }
}

.btn-primary {
  @extend .btn;
  
  background-color: $primary;
  color: $primary-complement;
  
  &:hover {
    background-color: tint($primary, 10%);
  }
}

.btn-primary-complement {
  @extend .btn;
  
  background-color: $primary-complement;
  color: $primary;
  
  &:hover {
    background-color: tint($primary-complement, 10%);
  }
}

.btn-secondary {
  @extend .btn;
  
  background-color: $secondary;
  color: $secondary-complement;
  
  &:hover {
    background-color: tint($secondary, 10%);
  }
}

.btn-secondary-complement {
  @extend .btn;
  
  background-color: $secondary-complement;
  color: $secondary;
  
  &:hover {
    background-color: tint($secondary-complement, 10%);
  }
}

.btn-tertiary {
  @extend .btn;
  
  background-color: $tertiary;
  color: $tertiary-complement;
  
  &:hover {
    background-color: tint($tertiary, 10%);
  }
}

.btn-tertiary-complement {
  @extend .btn;
  
  background-color: $tertiary-complement;
  color: $tertiary;
  
  &:hover {
    background-color: tint($tertiary-complement, 10%);
  }
}