/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Header
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Media Queries
 *-------------------------------------- */

nav#bundle-header {
    margin-bottom: 0;
    ul.dropdown-menu>li.sublink>a {
        padding-left: 3.5rem;
        color: $darkgray;
    }
}
nav#kapp-sub-nav{
  border-top: none;
}
@media (max-width : 768px) { 
  nav#bundle-header {
    div#navbar-collapse-1 {
        position: absolute;
        z-index: 2000;
        width: 100%;
        background-color: rgba($black, 0.85);
    }
    div.navbar-collapse.collapse.in, div.navbar-collapse.collapsing{
      display: table;
      padding: 1.5rem;
    }
    div#navbar-collapse-1>ul.nav{
      display: table-footer-group;
    }
    div#navbar-collapse-1>div.navbar-form{
      display: table-header-group;
    }
    ul.dropdown-menu.show-xs {
      width: 100%;
      z-index: 2000;
      position: relative;
      background-color: transparent;
      display: block;
    }
    ul.dropdown-menu.show-xs.priority {
      text-align: center;
      margin-top: 1.5rem;
      border-top: 1px solid $lightestgray;
      border-bottom: 1px solid $lightestgray;
    }
    ul.dropdown-menu.show-xs>li {
        padding: 1rem 0;
    }
    ul.dropdown-menu.show-xs>li>a, ul.dropdown-menu.show-xs>li>a:hover {
        color: $lightestgray;
        background-color: transparent;
    }
    ul.dropdown-menu.show-xs>li.sublink>a, ul.dropdown-menu.show-xs>li.sublink>a:hover {
        color: $lightgray;
    }
    ul.priority li {
        text-align: center;
        display: inline-block;
        width: 45%;
    }
    ul.priority li i.fa {
        display: block;
        font-size: 3rem;
        width: 100%;
    }
  }

  /* kapp sub-header */

  nav#kapp-sub-nav{
    li a {
      background: transparent;
    }

    div#sub-header {
      position: absolute;
      z-index: 2000;
      width: 100%;
      background-color: rgba($black, 0.85);
    }
    div#sub-header ul li{
      display: inline-block;
      float: left;

    }
    div#sub-header ul li.active a{
      background: transparent;
    }
    div#sub-header ul li a{
      color: $white;
    }
  }
}